<h2>Customer Data</h2>
<table >
    <tr>
        <th>SL NO</th>
        <th>CUSTOMER CODE</th>
        <th>ADDRESS1</th>
        <th>ADDRESS2</th>
        <th>ADDRESS3</th>
        <th>ADDRESS4</th>
        <th>PIN CODE</th>
        <th>PHONE</th>
        <th>MOBILE</th>
        <th>NET WEIGHT</th>
        <th>LAST SALES DATE</th>
    </tr>
    {% for customer in customers %}
        <tr>
            <td>{{ customer['SL NO'] }}</td>
            <td>{{ customer['CUSTOMER CODE'] }}</td>
            <td>{{ customer['ADDRESS1'] }}</td>
            <td>{{ customer['ADDRESS2'] }}</td>
            <td>{{ customer['ADDRESS3'] }}</td>
            <td>{{ customer['ADDRESS4'] }}</td>
            <td>{{ customer['PIN CODE'] }}</td>
            <td>{{ customer['PHONE'] }}</td>
            <td>{{ customer['MOBILE'] }}</td>
            <td>{{ customer['NET WEIGHT'] }}</td>
            <td>{{ customer['LAST SALES DATE'] }}</td>
        </tr>
    {% endfor %}
</table>